aiohttp==3.10.5
anyio==4.6.0
attrs==24.2.0
black==24.8.0
certifi==2024.6.2
fastapi==0.115.2
matplotlib==3.9.2
pandas==2.2.2
psycopg2-binary==2.9.9
SQLAlchemy==2.0.35
python-dotenv==1.0.1
pytest==8.3.3
pytest-cov==5.0.0
requests==2.32.3
uvicorn==0.31.1
